html,
body {
	height: 100%;
}

body {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	padding-top: 15px;
}

.container {
	min-height: 100%; 
	display: flex; 
	align-items: center;
	justify-content: center;
}

a {
	color: #57ad68;
}

a.discrete-link {
	color: inherit;
}

.bold {
	font-weight: bold;
}

.content-separator {
	border-top: 1px solid #dededc;
	padding-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	width: 75%;
}

.content-separator-2x {
	border-top: 1px solid #dededc;
	margin-top: 40px;
	padding-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	width: 75%;
}

.discrete-content-separator {
	padding-top: 5px;
	padding-bottom: 5px;
}

.discrete-content-separator-2x {
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer {
	color: #b3b3b1;
	font-size: 0.85em;
	font-family: 'Arial', sans-serif;
	padding-top: 25px;
	padding-bottom: 10px;
}

.copyright {
	padding-top: 15px;
}

.footer-navigation {
	font-size: 0.8em;
}

.footer-navigation ul {
	list-style-type: none;
	margin: 0 0 0 0;
	padding-left: 0;
}

.footer-navigation li {
	display: inline;
}

.footer-navigation li:not(:first-child):before {
	content: ' | ';
}

h2.panel-title {
	font-size: 24px;
}

.panel p:last-child,
.well p:last-child {
	margin-bottom: 0;
}

.site-icon {
	width: 30px;
	height: 30px;
}

.portrait {
	width: 165px;
	height: 165px;
}

#map {
	height: 750px;
}

#daterange {
	cursor: pointer;
}
